node_modules/
dist/
logs/

*.tsbuildinfo
*.log

.env
.env.local
.env.*.local

.vscode/
.idea/
.DS_Store

/prisma/.src/prisma/generated/prisma

/generated/prisma

/prisma/generated/prisma



src/prisma/generated/
